<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Token:</strong>
  <%= @team.token %>
</p>

<p>
  <strong>Slack:</strong>
  <%= @team.slack_id %>
</p>
<%= link_to 'Update users', update_users_team_path(@team), method: :post, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Fetch tasks', fetch_tasks_team_path(@team), method: :post, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Send digest', send_digest_team_path(@team), method: :post, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Send prompt', send_digest_team_path(@team), method: :post, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
